.cart {
    
    &_table {
        width: 100%;

        th {
            border-bottom: 1px solid $bright_color;
            color: $color;
            font: 600 $font-size $font-family__heading;
            padding: 0 30px 40px 0;
            text-transform: uppercase;
        }
        td {
            vertical-align: middle;
            padding: 15px 30px 15px 0;
            font-size: $font-size;

            &:last-child {
                padding-right: 0;
            }
            p {
                margin: 0;
            }
        }
        tr:first-child td {
            padding-top: 45px;
        }
        tr:last-child td {
            border-bottom: 1px solid $bright_color;
            padding-bottom: 45px;
        }
    }
    &_table-image {
        margin: 0 30px 0 0;
        float: left;
    }
    &_table-title {
        @extend %heading-2;
        margin: 0;
    }
    &_table-price {
        @extend %heading-1;
        position: relative;
        padding: 0 30px 0 0;

        sup {
            font-size: 16px;
            margin: 0 0 0 5px;
            top: -14px;
        }
    }
    &_table-delete {
        background: #000 url("#{$img_path}/delete.svg") center center no-repeat;
        height: 24px;
        width: 24px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        transition: .2s ease-in-out background;

        &:hover {
            background-color: $bright_color;
        }
    }

    &_forms {
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px;
    }
    &_form {
        width: 32%;
    }
    &_form-title {
        @extend %heading-1;
        color: $color;
        letter-spacing: .03em;
        margin-bottom: 0 0 20px;
    }
    &_form-price {
        @extend %heading-1;
        margin: 0;

        sup {
            font-size: 16px;
            margin: 0 0 0 5px;
            top: -14px;
        }
    }
}

.cart-button {
    background: $bright_color url("#{$img_path}/cart.svg") center center no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    height: 60px;
    width: 60px;
    position: absolute;
    right: 10vw;
    top: 100%;
    transform: translateY(-60%);
    z-index: 3;
    cursor: pointer;
    transition: .2s ease-in-out transform;

    &:hover {
        transform: scale(1.2) translateY(-50%);
    }

    &_value {
        background: $color;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        text-align: center;
        position: absolute;
        bottom: 8px;
        right: 10px;
        color: $bright_color;
        font-size: 10px;
        line-height: 18px;
        font-weight: 600;
    }
}