.content {
    padding: 0 0 30px;
    @include tablet {
        padding-bottom: 100px;
    }
}

.pattern-bg {
    background: $bright_color url(#{$img_path}/pattern.jpg) repeat;
}

.white-bg {
    background: $color;
    color: #000;
    padding: 60px 0;
}
