.footer {
    background: #000 url(#{$img_path}/dark-bg.jpg) no-repeat;
    background-size: 100% auto;
    color: #ccc;
    padding: 40px 0 75px;
    position: relative;

    &::before {
        content: '';
        background: url(#{$img_path}/showcase-bg-top.png) 0 top repeat-x;
        height: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &_logo {
        margin: 0 0 42px;
    }
    &_title {
        @extend %heading-2;
        color: $color;
        margin: 0 0 42px;
        line-height: 1;
    }
    &_subtitle {
        color: $color;
        font-weight: bold;
    }
    &_social {
        padding: 20px 0;
    }
    &_social-icon {
        margin: 0 20px 0 0;
    }
}
