.gallery {
    &_grid {
        @extend %clearfix;
    }
    &_item {
        width: 50%;
        margin: 0 0 16px;
        float: left;

        &__big {
            width: calc(50% - 16px);
            margin: 0 16px 16px 0;
        }
    }
    &_title {
        text-align: center;
    }
}