.menu-toggle {
    display: none;
    box-sizing: border-box;
    border: none;
    background: $link_color;
    padding: 0;
    margin: 0 15px;
    height: 3px;
    width: 35px;
    overflow: visible;
    min-width: inherit;
    z-index: 2;
    transition: .2s ease background;

    &:hover {
        background: $link_color;
    }
    &::before {
        content: '';
        background: $link_color;
        position: absolute;
        top: -12px;
        left: 0;
        right: 0;
        height: 3px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
    }
    &::after {
        content: '';
        background: $link_color;
        position: absolute;
        bottom: -12px;
        left: 0;
        right: 0;
        height: 3px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
    }

    .menu.opened & {
        background: transparent;
    }
    .menu.opened &::before {
        transform: rotateZ(45deg) translate(9px, 9px);
    }
    .menu.opened &::after {
        transform: rotateZ(-45deg) translate(8px, -7px)
    }
}
