.number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    
    &_button {
        background: transparent;
        border: 2px solid $gray_color;
        border-radius: 50%;
        color: $gray_color;
        font-weight: bold;
        font-size: 15px;
        height: 18px;
        width: 18px;
        padding: 0;
        text-align: center;
        position: relative;
        flex-shrink: 0;

        .number__big & {
            color: $color;
            border-color: $color;
            height: 25px;
            width: 25px;
            font-size: 25px;
        }

        &__minus::before {
            content: '-';
            position: absolute;
            left: 4px;
            top: -3px;

            .number__big & {
                left: 5px;
                top: -6px;
            }
        }
        &__plus::before {
            content: '+';
            position: absolute;
            left: 3px;
            top: -1px;
            font-size: 14px;

            .number__big & {
                left: 4px;
                top: -1px;
                font-size: 21px;
            }
        }


    }
    &_input {
        background: transparent;
        color: $gray_color;
        border: none;
        font-size: 18px;
        margin: 0 3px;
        padding: 0;
        width: 30px;
        text-align: center;
        box-sizing: border-box;

        .number__big & {
            color: $bright_color;
            font: bold 28px $font-family__heading;
            width: 45px;
        }
    }
}
