$img-path: "src/img";

$bg_color: #1C1A28;
$bg_color__alt: #231e1e;
$dark_gradient: linear-gradient(to bottom, #1C1A28, #2A2256);
$light_gradient: linear-gradient(to bottom, #FAF9F8, #DEDFE3);
$alt_gradient: linear-gradient(to bottom, #231E1E, #1A6960);

$color: #222;
$light_color: #fff;
$bright_color: #F44336;
$extra-bright_color: #f2cd3c;
$link_color: #FF5722;
$link_color__hover: #FF5722;

$font-family: 'Montserrat', sans-serif;
$font-family__heading: 'Kadwa', serif;
$font-family__cursive: 'Yellowtail', cursive;

$font-size: 16px;
$font-size__small: 14px;

$max-width: 1170px;
$layout_indent: 20px;
