.account {
    margin: auto;
    max-width: 360px;

    &_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;

        &__no-border {
            border: none;
        }
        .button {
            margin: auto;
        }
    }
    &_row-title {
        font: bold 16px $font-family__heading;
    }
    &_input[type] {
        background: url(#{$img_path}/edit.svg) no-repeat 95% center;
        border-color: transparent;
        cursor: pointer;
        color: $link_color;
        padding-right: 32px;
        text-align: right;
    }
}
