.action {
    padding: 80px 0;
    margin: 0 0 60px;
    position: relative;
    z-index: 2;

    &_holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_image {
        flex-shrink: 0;
        transform: rotate(-45deg);
    }
    &_content {
        padding: 0 0 0 5%;
        text-align: right;
    }
    &_title {
        font: bold 22px/28px $font-family__heading;
    }
    &_subtitle {
        color: #000;
        font: 18px/28px $font-family;
        margin: 25px 0;
    }
    &_price {
        font-size: 24px;
        font-weight: bold;

        sup {
            font-size: 14px;
            top: -0.6em;
        }
    }
    &_text {
        margin: 0 0 26px;
    }
    &_button {
        @extend %button;
        color: $color;
        opacity: 1;
        transition: .2s ease-in opacity;

        &:hover {
            color: $color;
            opacity: .7;
            text-decoration: none;
        }
    }
}
