.categories {
    padding: 15px 20px;
    border: 2px solid $bright_color;
    border-radius: 5px;
    margin: 0 0 40px;

    &_title {
        @extend %heading-2;
        margin: 0 0 20px;
    }
    &_link {
        color: $color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 10px;
        text-decoration: none;

        &:hover {
            color: $bright_color;
            text-decoration: none;
        }
    }
    &_count {
        border: 2px solid $bright_color;
        display: inline-block;
        border-radius: 5px;
        padding: 5px 8px;
        text-align: center;
        min-width: 43px;
    }
}
