.counters {
    background: #ccc url(#{$img_path}/dark-bg.jpg) no-repeat;
    background-size: cover;
    margin: 0 0 60px;
    padding: 120px 0;

    &_holder {
        display: flex;
        justify-content: space-between;
    }
    &_item {
        color: $color;
        border: 2px solid $bright_color;
        border-radius: 50%;
        height: 160px;
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &_value {
        display: block;
        font: bold 66px/1 $font-family__heading;
        margin: 0 0 10px;
        position: relative;
    }
    &_title {
        font: bold 15px/1 $font-family__heading;
    }
}
