.meta {
    padding: 20px 0;
    margin: 0 0 25px;
    display: flex;
    justify-content: space-between;

    &_category {
        background: url(#{$img_path}/graph.svg) 0 center no-repeat;
        padding: 0 0 0 20px;
    }
    &_author-name,
    &_category-name {
        color: $bright_color;
    }
}
