.pages {
    margin: 50px 0;
    text-align: center;

    &_link {
        font: 20px $font-family__heading;
        margin: 0 7px;
        @include tablet {
            font-size: 26px;
            margin: 0 13px;
        }
    }
}
