.pages {
    margin: 50px 0;
    text-align: center;

    &_link {
        color: $color;
        border: 2px solid $bright_color;
        font: bold $font-family $font-family__heading;
        margin: 0 11px;
        padding: 6px 9px 5px;

        &:hover {
            text-decoration: none;
        }
    }
}
