.phone-number {
    color: $color;
    font-size: 22px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 0 0 95px;
    position: relative;
    white-space: nowrap;

    &::before {
        content: '';
        background: $color url(#{$img-path}/phone.svg) no-repeat center center;
        border-radius: 50%;
        height: 100%;
        width: 60px;
        position: absolute;
        left: 0;
        top: 0;
    }
}
