.rating {
    
    &_item {
        background: url("#{$img_path}/steak.svg") center center no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        border: none;
        display: inline-block;
        height: 24px;
        width: 24px;
        margin: 0 10px 0 0;
        filter: grayscale(1);
        transition: .2s ease-in-out filter;

        &:hover,
        &.active {
            filter: grayscale(0);
        }

        .rating__small & {
            height: 16px;
            width: 16px;
        }
    }
}