.reviews {
    display: flex;
    justify-content: space-between;
    @include tablet {
        display: block;
    }

    &_list {
        width: 60%;
        @include tablet {
            width: 100%;
        }
    }
    &_form {
        width: 30%;
        @include tablet {
            width: 100%;
        }
    }
    &_form-title {
        @extend %heading-1;
        text-align: center;
        margin: 0 0 30px;
    }
}

.review {
    position: relative;

    &_name {
        color: $bright_color;
        font: 16px/1 $font-family__heading;
        margin: 0 0 15px;
    }
    &_date {
        color: $gray_color;
        font: 12px/1 $font-family__heading;
        margin: 0 0 10px;
    }
    &_rating {
        position: absolute;
        top: 0;
        right: 0;
    }
    &_text {
        p {
            margin: 0 0 20px;
        }
    }
}

.reviews-slider {
    padding: 0 0 35px;

    &_item {
        margin: 0 15px;
        width: 247px;
    }
    &_image {
        border: 2px solid $bright_color;
        border-radius: 50%;
        margin: 0 auto 55px;
        display: block;
    }
    &_content {
        border: 2px solid $bright_color;
        border-top: none;
        padding: 50px 20px 20px;
        position: relative;
    }
    &_triangle {
        padding: 50px 0 0;
        background: url(#{$img_path}/card-arrow.svg) center bottom no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: 100%;
        left: -2px;
        right: -2px;
        transform: translate(0, 1px);
    }
    &_name {
        color: $color;
        font-weight: bold;
        line-height: 1;
    }
}
