.ribbons {
    margin: 0 0 30px;
    @include tablet {
        display: flex;
        justify-content: space-between;
        margin: 0 0 100px;
    }
}

.ribbon {
    background: url(#{$img_path}/showcase-bg.png) repeat-x -14px bottom;
    color: $light_color;
    padding: 15px;
    text-align: center;
    margin: 0 0 20px;
    @include tablet {
        padding: 30px;
        width: 30%;
        margin: 0;
    }
    @include desktop {
        text-align: left;
    }

    &__purple {
        background-color: $bright_color;
    }
    &__blue {
        background-color: $link_color;
    }
    &__green {
        background-color: #598132;
    }
    
    &_image {
        margin: 0 auto 15px;
        vertical-align: middle;
        display: block;
        @include desktop {
            display: inline;
            margin: 0 15px 0 0;
        }
    }
    &_title {
        font: bold 26px $font-family__heading;
    }
}
