.share {
    &_title {
        font-weight: bold;
        margin: 0 30px 0 0;
    }
    &_icon {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0 10px 0 0;
        vertical-align: middle;

        $social_networks: insta, tw, fb, g, pin;
        @each $s in $social_networks {
            &__#{$s} {
                background-image: url(#{$img-path}/social/#{$s}-blue.svg);
            }
        }
    }
}
