.subscribe {
    padding: 0 0 30px;

    &_title {
        @extend %heading-2;
        margin-bottom: 20px;
    }
    &_text {
        font-family: $font-family__heading;
        line-height: 28px;
        margin: 0 0 20px;
    }
    &_input {
        margin: 0 0 15px;
        width: 100%;
    }
    button {
        width: 100%;
    }
}
