.tags {
    margin: 0 0 30px;

    &_title {
        @extend %heading-2;
        margin-bottom: 20px;
    }
}

.tag {
    border-radius: 5px;
    color: $bright_color;
    font: bold 12px $font-family__heading;
    border: 1px solid currentColor;
    margin: 0 10px 10px 0;
    padding: 10px 15px;
    display: inline-block;
    transition: .2s ease-in-out background, 
                .2s ease-in-out color;

    &:hover {
        color: $light_color;
        background: $bright_color;
        text-decoration: none;
    }
}
