.product-card {
    position: relative;
    margin: 0 0 2px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 28px 15px;
    width: 30%;
    transition: .2s ease-in-out box-shadow;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 0 2px $bright_color;
    }
    &_content {
        text-align: center;
    }
    &_image {
        margin: 0 30px;
        width: auto;
    }
    &_title {
        @extend %heading-2;
        margin: 30px 0 10px;
    }
    &_text {
        color: $color;
    }
    &_price {
        font: bold 30px $font-family__heading;
        margin: 0;

        sup {
            font-size: 16px;
            margin: 0 0 0 5px;
            top: -14px;
        }
    }
    &_button {
        @extend %button;
        opacity: 0;
        transition: .2s ease-in-out opacity;

        .product-card:hover & {
            color: $color;
            opacity: 1;
        }
    }
}
