.catalog-grid {
    @extend %clearfix;

    &_item {
        background: #000;
        color: $color;
        font: 72px $font-family__cursive;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        overflow: hidden;
        margin: 0 0 30px; 
        &:hover {
            color: $color;
            text-decoration: none;
        }

        &__big {
            @include tablet {
                float: left;
                margin-right: 30px;
                height: 451px;
                width: 260px;
            }
        }
        &__big-right {
            @include tablet {
                float: right;
                margin-right: 0;
                margin-left: 30px;
            }
        }
    }
    &_text {
        position: relative;
    }
    &_image {
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        z-index: 0;
        opacity: .3;
        transition: .2s ease-in-out opacity,
                    .3s ease-in-out transform;

        .catalog-grid_item:hover & {
            opacity: .6;
            transform: translate(-50%, -50%) scale(1.05);
        }
    }
}
